html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

body{
  /* font-size: 50px; */
}

  .main{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    /* background-color: darkgrey; */
  }
  .main>header{
    /* margin: 0 auto; */
    text-align: center;
}
  .main>header img.logo{      
    width: 150px;
    margin-top: 40px;
    margin-bottom: 20px;
  }


.main>nav{
    border-top: 1px solid coral;
    border-bottom: 1px solid coral;
    margin-bottom: 20px;
}

.main>nav>ul{
   display: flex;
}
.main>nav>ul>li{
  
  /* 這是display inlink-block的排版用法 */
    /* display: inline-block;
    width: 33.333%;
    margin-right: -4px; */


      /*
       這是display flex的排版用法
      */
      flex:1;

    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.main>nav>ul>li>.nav_item{
  text-decoration: none;
  color: black;
  display: block;
  position: relative;  
  width: 100%;
}

.main>nav>ul>li>.nav_item>.nav_child{
  display: none;
  position: absolute;
  width: 100%;
}

.main>nav>ul>li>.nav_item>.nav_child a{
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  background-color: #898000;
  font-size: 15px;
  padding: 10px 20px;
  display: block;
  text-align: left;
}

.main>nav>ul>li>.nav_item>.nav_child a:hover{
  background-color: gray;
}

.main>nav>ul>li>.nav_item:hover{
    background-color: #DCDDDD;
}

.main>nav>ul>li>.nav_item:hover .nav_child{
   display: block;
}



.en-1{
    color: burlywood;
}

.main>.content img{
width: 100%;
}



/*shop_html的CSS*/
.main>.shop_content .p_content{
  line-height: 20px;
  color: #58595B;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.shop_content>.item_wrap{
  border: 1px solid #898000;
  font-weight: bold;
}

.shop_content>.item_wrap>.item_row{
  display: flex;
  padding: 15px;
  gap: 15px;
}

/*平均分配版面*/
/* .shop_content>.item_wrap>.item_row>div{
  flex: 1;
} */

.shop_content>.item_wrap>.item_row>.item_left{
     width: 20%;
}

.product_img{
  width: 100%;
}

.shop_content>.item_wrap>.item_row>.item_mid{
     width: 40%;
     display: flex;
     flex-direction: column;
    

     /* justify-content:space-between; */

     /* position: relative; */
}
.price{
  color: #827B00;

  /* position: absolute;
  bottom: 0; */
/* margin-top: auto; */
}
.item_mid>h2{
  margin: 0;
  font-size: 22px;
  line-height: 25px;

  margin-bottom: auto;
}

.shop_content>.item_wrap>.item_row>.item_right{
     width: 40%;
}

.shop_content>.item_wrap>.item_row>.item_right .item_title{
  border-bottom: 1px solid #898000;
  padding-bottom: 7px;

}
.item_child{
  display: flex;
  margin-top: 10px;
}

.item_child>.item_child_left{
  flex: 1;
}
.item_child>.item_child_left{
  flex: 1;
}

.shop_content>.item_wrap>.item_row>.item_right .left_01{
    color: #898000;
    font-size: 17px;
    margin-bottom: 13px;
    font-weight: bold;
}

.item_child_right{
  line-height: 19px;
  font-size: 15px;
}

.shop_content>.item_wrap>.item_row>.item_right .left_02{
    font-size: 17px;
    margin-bottom: 3px;
    font-weight: bold;
}

.buy_btn{
  text-decoration: none;
  background: #827B00;
  color: #fff;
  padding: 7px;
  padding-top: 10px;
  display: block;
  border-radius: 14px;
}

.buy_btn:hover{
  background: #000;
}









@media(max-width:992px){
  .main>nav>ul{
    flex-direction: column;
  }
  .main>nav>ul>li{
    width: 100%;
  }
  .main>nav>ul>li>.nav_child{
    display: none;
  }

  .shop_content>.item_wrap>.item_row{
    display: flex;
    padding: 15px;
    flex-direction: column;
  }
  .shop_content>.item_wrap>.item_row>.item_left{
    width: 100%;
  }
  .shop_content>.item_wrap>.item_row>.item_mid{
    width: 100%;
  }
  .shop_content>.item_wrap>.item_row>.item_right{
    width: 100%;
  }

}
